In [4]:
pip install pandera

Requirement already satisfied: pandera in c:\programdata\anaconda3\lib\site-packages (0.7.2)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: typing-inspect>=0.6.0 in c:\programdata\anaconda3\lib\site-packages (from pandera) (0.7.1)
Requirement already satisfied: wrapt in c:\programdata\anaconda3\lib\site-packages (from pandera) (1.11.2)
Requirement already satisfied: numpy>=1.9.0 in c:\programdata\anaconda3\lib\site-packages (from pandera) (1.19.2)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from pandera) (20.4)
Requirement already satisfied: pandas>=1.0 in c:\programdata\anaconda3\lib\site-packages (from pandera) (1.1.3)
Requirement already satisfied: pyarrow in c:\programdata\anaconda3\lib\site-packages (from pandera) (5.0.0)
Requirement already satisfied: mypy-extensions>=0.3.0 in c:\programdata\anaconda3\lib\site-packages (from typing-inspect>=0.6.0->pandera) (0.4.3)
Requirement already satisfied: typing-extensions>=3.7.4 in c:\programdata\anaconda3\lib\site-packages (from typing-inspect>=0.6.0->pandera) (3.7.4.3)
Requirement already satisfied: pyparsing>=2.0.2 in c:\programdata\anaconda3\lib\site-packages (from packaging>=20.0->pandera) (2.4.7)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from packaging>=20.0->pandera) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.0->pandera) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.0->pandera) (2020.1)

In [5]:
#Importando o biblioteca Pandas e Pandera!
import pandas as pd
import pandera as pa

In [6]:
df = pd.read_csv("dataset/Gapminder.csv",error_bad_lines=False, sep=";" )

In [7]:
df.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [8]:
# renomear os nomes
df = df.rename(columns={"country":"Pais", "continent":"Continente","year":"Ano", "lifeExp":"Expectativa_de_vida", "pop":"Pop_total", "gdpPercap":"PIB"})

In [11]:
df.dtypes

Pais                    object
Continente              object
Ano                      int64
Expectativa_de_vida    float64
Pop_total                int64
PIB                    float64
dtype: object

In [12]:
schema = pa.DataFrameSchema(
    
   columns = {   
                 "Pais":pa.Column(pa.String), 
                 "Continente":pa.Column(pa.String, nullable=True),
                 "Ano":pa.Column(pa.Int),
                 "Expectativa_de_vida":pa.Column(pa.Float),
                 "Pop_total":pa.Column(pa.Int),
                 "PIB":pa.Column(pa.Float),
                  }
)

In [13]:
schema.validate(df)

             Pais Continente   Ano  Expectativa_de_vida  Pop_total         PIB
0     Afghanistan       Asia  1952               28.801    8425333  779.445314
1     Afghanistan       Asia  1957               30.332    9240934  820.853030
2     Afghanistan       Asia  1962               31.997   10267083  853.100710
3     Afghanistan       Asia  1967               34.020   11537966  836.197138
4     Afghanistan       Asia  1972               36.088   13079460  739.981106
...           ...        ...   ...                  ...        ...         ...
3307     Zimbabwe     Africa  1987               62.351    9216418  706.157306
3308     Zimbabwe     Africa  1992               60.377   10704340  693.420786
3309     Zimbabwe     Africa  1997               46.809   11404948  792.449960
3310     Zimbabwe     Africa  2002               39.989   11926563  672.038623
3311     Zimbabwe     Africa  2007               43.487   12311143  469.709298

[3312 rows x 6 columns]

In [14]:
#visualizando as 5 primeiras linhas 
df.head()

          Pais Continente   Ano  Expectativa_de_vida  Pop_total         PIB
0  Afghanistan       Asia  1952               28.801    8425333  779.445314
1  Afghanistan       Asia  1957               30.332    9240934  820.853030
2  Afghanistan       Asia  1962               31.997   10267083  853.100710
3  Afghanistan       Asia  1967               34.020   11537966  836.197138
4  Afghanistan       Asia  1972               36.088   13079460  739.981106

In [15]:
# renomear os nomes
df = df.rename(columns={"country":"Pais", "continent":"Continente","year":"Ano", "lifeExp":"Expectativa de vida", "pop":"Pop total", "gdpPercap":"PIB"})

In [16]:
df.head(10)

          Pais Continente   Ano  Expectativa_de_vida  Pop_total         PIB
0  Afghanistan       Asia  1952               28.801    8425333  779.445314
1  Afghanistan       Asia  1957               30.332    9240934  820.853030
2  Afghanistan       Asia  1962               31.997   10267083  853.100710
3  Afghanistan       Asia  1967               34.020   11537966  836.197138
4  Afghanistan       Asia  1972               36.088   13079460  739.981106
5  Afghanistan       Asia  1977               38.438   14880372  786.113360
6  Afghanistan       Asia  1982               39.854   12881816  978.011439
7  Afghanistan       Asia  1987               40.822   13867957  852.395945
8  Afghanistan       Asia  1992               41.674   16317921  649.341395
9  Afghanistan       Asia  1997               41.763   22227415  635.341351

In [17]:
#Total de Linhas e colunas
df.shape

(3312, 6)

In [18]:
df.columns

Index(['Pais', 'Continente', 'Ano', 'Expectativa_de_vida', 'Pop_total', 'PIB'], dtype='object')

In [19]:
df.tail()

          Pais Continente   Ano  Expectativa_de_vida  Pop_total         PIB
3307  Zimbabwe     Africa  1987               62.351    9216418  706.157306
3308  Zimbabwe     Africa  1992               60.377   10704340  693.420786
3309  Zimbabwe     Africa  1997               46.809   11404948  792.449960
3310  Zimbabwe     Africa  2002               39.989   11926563  672.038623
3311  Zimbabwe     Africa  2007               43.487   12311143  469.709298

In [20]:
df.describe()

               Ano  Expectativa_de_vida     Pop_total            PIB
count  3312.000000          3312.000000  3.312000e+03    3312.000000
mean   1980.301630            65.246871  3.161489e+07   11317.115805
std      16.927294            11.768412  1.041193e+08   11369.142739
min    1950.000000            23.599000  5.941200e+04     241.165877
25%    1967.000000            58.337500  2.678572e+06    2514.625266
50%    1982.000000            69.610000  7.557218e+06    7838.505123
75%    1996.000000            73.657750  1.958522e+07   17357.879170
max    2007.000000            82.670000  1.318683e+09  113523.132900

In [21]:
df["Continente"].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', nan, 'FSU', 'Oceania'],
      dtype=object)

In [22]:
Oceania = df.loc[df["Continente"] == "Oceania"]
Oceania.head()

     Pais Continente   Ano  Expectativa_de_vida  Pop_total          PIB
975  Fiji    Oceania  1962               56.494     421869  2039.393277
976  Fiji    Oceania  1967               58.607     485000  2170.073285
977  Fiji    Oceania  1972               60.642     544000  2797.759484
978  Fiji    Oceania  1977               62.669     599339  3182.569600
979  Fiji    Oceania  1982               64.683     658906  3209.257468

In [23]:
Oceania.Continente.unique()

array(['Oceania'], dtype=object)

In [24]:
df.groupby("Continente")["Pais"].nunique()

Continente
Africa      51
Americas    25
Asia        41
Europe      35
FSU          6
Oceania      3
Name: Pais, dtype: int64

In [25]:
df.groupby("Ano")["Expectativa_de_vida"].mean()

Ano
1950    62.002568
1951    65.904167
1952    49.206867
1953    66.674563
1954    67.459817
1955    67.806757
1956    67.950637
1957    51.614590
1958    68.815936
1959    68.226579
1960    68.470837
1961    68.862480
1962    54.035234
1963    69.595735
1964    70.063105
1965    70.259881
1966    70.447526
1967    56.263629
1968    70.689081
1969    70.653896
1970    70.961141
1971    71.103976
1972    58.474481
1973    71.500338
1974    71.778504
1975    71.939218
1976    72.158050
1977    60.429090
1978    72.717567
1979    73.018717
1980    73.064524
1981    73.337399
1982    62.365871
1983    73.787778
1984    74.100741
1985    74.112222
1986    74.452222
1987    63.984860
1988    74.760000
1989    74.924444
1990    74.283437
1991    74.374848
1992    65.008443
1993    74.324545
1994    74.456667
1995    74.552727
1996    75.029394
1997    65.873799
1998    75.569697
1999    75.703636
2000    76.026364
2001    76.257879
2002    66.835695
2003    76.586667
2004    76.921563
2005    76.718667
2006    77.887778
2007    67.868557
Name: Expectativa_de_vida, dtype: float64

In [26]:
#Pegando a media do PIB
df["PIB"].mean()

11317.115804696637

In [27]:
df["PIB"].sum()

37482287.5451553

In [28]:
#Paises com ótima expectativa de vida 
filtro = df.Expectativa_de_vida > 80
paises_vida_positivo = df.loc[filtro, 'Pais']
paises_vida_positivo.unique()

array(['Australia', 'Canada', 'France', 'Hong Kong, China', 'Iceland',
       'Israel', 'Italy', 'Japan', 'Macao, China', 'New Zealand',
       'Norway', 'Spain', 'Sweden', 'Switzerland'], dtype=object)

In [29]:
#Paises com baixa expectativa de vida 
filtro = df.Expectativa_de_vida < 43
paises_vida_baixa = df.loc[filtro, 'Pais']
paises_vida_baixa.unique()

array(['Afghanistan', 'Angola', 'Bangladesh', 'Benin', 'Bhutan',
       'Bolivia', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Central African Republic', 'Chad', 'China', 'Comoros',
       'Congo, Dem. Rep.', 'Congo, Rep.', "Cote d'Ivoire", 'Djibouti',
       'Egypt', 'Equatorial Guinea', 'Eritrea', 'Ethiopia', 'Gabon',
       'Gambia', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Haiti',
       'Honduras', 'India', 'Indonesia', 'Kenya', 'Lesotho', 'Liberia',
       'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mongolia',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal',
       'Nicaragua', 'Niger', 'Nigeria', 'Oman', 'Papua New Guinea',
       'Rwanda', 'Saudi Arabia', 'Senegal', 'Sierra Leone', 'Somalia',
       'Sudan', 'Swaziland', 'Tanzania', 'Togo', 'Uganda', 'Vietnam',
       'Yemen, Rep.', 'Zambia', 'Zimbabwe'], dtype=object)